* {
    font-family: 'Raleway', sans-serif;
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: #17a3b8;
}

.ratio-14x9 {
    --bs-aspect-ratio: 66.7%;
}

html {
    scroll-behavior: smooth;
}